body{
background: 
}
p{
  text-a:center;
}
em{ 
  color:#ff0000;
}
#banne width:100%
  }
  
h1{
    text-align:center;
  }

.itens{
  font-style: italic;
}
.beneficios{
  background:#ffffff;
  padding:20px
}
